
div table{
    border: solid black  2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 97%;
    margin-left: 15px;
    font-family: "Sofia", sans-serif;
    font-size: 20px;

}

div table th{
    border: solid black  2px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    background-color:lightgoldenrodyellow;

}

div table td{
    border: solid black  2px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

header h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    background-color: bisque;
    padding-bottom: 75px;
    padding-top: 75px;
    margin-bottom: 50px;
    font-family: "Audiowide", sans-serif;

}

header div li{
    list-style: none;
    margin-left: 30px;
    display: inline;
}

header div li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    border: solid black 2px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 20px;
    position: relative;
    bottom: 100px;
    font-family: "Sofia", sans-serif;

    
}

main h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    font-family: "Sofia", sans-serif;
}
