header{
    background-color: bisque;
}


header h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    float: right;
    margin-right: 400px;
    font-family: "Sofia", sans-serif;
    padding-top: 27.5px;
}

header img{
    display: block;
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 50%;
    margin-left: 350px;
    margin-top: 100px;
    padding-top: 20px;
    
}

.url {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.url a{
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    font-family: "Sofia", sans-serif;
    border: solid black 2px;

}

main p{
    float: left;
    font-size: 20px;
    position:absolute;
    right: 700px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: "Sofia", sans-serif;

}
main section div li{
    text-decoration: none;
    margin-top: 100px;
    list-style: none;
    float: right;

}

#img1{
    width: 70%;
    height: 400px;
    float: right;
    margin-right: 50px;
    margin-bottom: 100px;
    /* border-radius: 50%; */
}

.contact{
    clear: both;
    padding-top: 100px;
    padding-left: 50px;
    background-color: bisque;

}

.copy{
    float: right;
    margin-right: 50px;
    /* padding-bottom: 20px; */
    position: relative;
    bottom: 35px;
}

.contact p{
    font-size: 25px;
    position: relative;
    bottom: 70px;
}
